<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Business Loan Application</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/brands.min.css"
          integrity="sha512-lCU0XyQA8yobR7ychVxEOU5rcxs0+aYh/9gNDLaybsgW9hdrtqczjfKVNIS5doY0Y5627/+3UVuoGv7p8QsUFw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <style>
        .site-footer {
            background: rgb(37, 37, 37);
        }
        .site-footer-darker {
            background: rgb(15, 15, 15);
        }
        .text-darker-footer{
            color: rgb(102, 102, 102);
        }
    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-sm mb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item mr-2">
                            <a class="nav-link" th:href="@{/account_view}">Account</a>
                        </li>
                        <li class="nav-item mr-2 active">
                            <a class="nav-link" th:href="@{/loan_application}">Apply for a New Loan</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link" th:href="@{/inbox}">Inbox</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container mb-5">
    <div class="row">
        <div class="col col-md-6 mx-auto">
            <h1 class="text-center text-primary">Business Loan Application</h1>
            <div class="card">
                <div class="card-body">
                    <form action="#" th:action="@{/business_loan}" th:object="${businessLoan}" method="post">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Full Name</label>
                            <div class="col">
                                <input class="form-control" type="text" th:field="*{fullName}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Address Line 1</label>
                            <div class="col">
                                <input class="form-control" type="text" th:field="*{addressLine1}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Address Line 2</label>
                            <div class="col">
                                <input class="form-control" type="text" th:field="*{addressLine2}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Country</label>
                            <div class="col">
                                <input class="form-control" type="text" th:field="*{country}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">State</label>
                            <div class="col">
                                <input class="form-control" type="text" th:field="*{state}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Zip Code</label>
                            <div class="col">
                                <input class="form-control" type="text" th:field="*{zipCode}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Phone Number</label>
                            <div class="col">
                                <input class="form-control" type="text" th:field="*{phoneNumber}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Income</label>
                            <div class="col">
                                <input class="form-control" type="text" th:field="*{income}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Loan Length (months)</label>
                            <div class="col">
                                <input class="form-control" type="text" th:field="*{loanLengthInMonths}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Loan Amount</label>
                            <div class="col">
                                <input class="form-control" type="text" th:field="*{loanAmount}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Social Security Number</label>
                            <div class="col">
                                <input class="form-control" type="password" th:field="*{socialSecurity}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Company Name</label>
                            <div class="col">
                                <input class="form-control" type="text" th:field="*{companyName}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Number of Employees</label>
                            <div class="col">
                                <input class="form-control" type="text" th:field="*{numEmployees}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Revenue</label>
                            <div class="col">
                                <input class="form-control" type="text" th:field="*{revenue}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Location of Business</label>
                            <div class="col">
                                <input class="form-control" type="text" th:field="*{location}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="submit" class="btn btn-success"></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="site-footer pt-3">
    <div class="container">
        <div class="row">
            <div class="col-3 offset-1">
                <h5 class="text-white">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a th:href="@{/}">Home/Log Out</a></li>
                    <li><a th:href="@{/account_view}">Account</a></li>
                    <li><a th:href="@{/loan_select}">New Loan</a></li>
                </ul>
            </div>
            <div class="col-4 text-center">
                <h5 class="text-white">Social</h5>
                <a class="btn btn-social-icon btn-instagram" href="http://instagram.com/"><i
                        class="fab fa-instagram"></i></a>
                <a class="btn btn-social-icon btn-facebook" href="http://facebook.com/"><i
                        class="fab fa-facebook"></i></a>
                <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i
                        class="fab fa-twitter"></i></a>
                <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i
                        class="fab fa-youtube"></i></a>
            </div>
            <div class="col-4 text-center">
                <h5 class="text-white">Help Line</h5>
                <a role="button" class="btn btn-link" href="tel:+12223334444">
                    <i class="fa fa-phone"></i>
                    1-222-333-4444
                </a>
            </div>
        </div>
    </div>
</footer>
<footer class="site-footer-darker pt-3">
    <div class="container">
        <div class="row">
            <div class="col-2 offset-1 text-darker-footer">
                <h4>About</h4>
                <br />
                <p>
                    eFinance is your ideal place for loan financing. You can apply for personal loans, business loans, auto loans, and even student loans. We are available for support 24/7, and will answer any questions pertaining to the application, loan servicing, and general ATZ finance information.
                    <br>&#169; Copyright 2021
                </p>
            </div>
            <div class="col-3 offset-2 text-darker-footer">
                <h4>User Information</h4>
                <br/>
                <span>User name: [[${#request.userPrincipal.principal.userName}]]</span>
                <br/>
                <span>Email: [[${#request.userPrincipal.principal.userEmail}]]</span>
                <br>
                <a th:href="@{/account_view}">Go To Account</a>
            </div>
            <div class="col-3 offset-1">
                <h4 class="text-success">Need Help?</h4>
                <br/>
                <form>
                    <input type="text" placeholder="Your email..." class="form-control-sm"><br>
                    <input type="textarea" placeholder="Type your message here..." class="mt-3 form-control-sm" style="height: 100px">
                </form>
            </div>
        </div>
    </div>
</footer>
</body>
</html>